@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">公司</th>
                <td class="formValue">
                    <select id="F_OrganizeId" name="F_OrganizeId" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">父级</th>
                <td class="formValue">
                    <select id="F_ParentId" name="F_ParentId" class="form-control required">
                        <option value="0">父节点</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">编号</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="F_EnCode" name="F_EnCode" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">名称</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="F_FullName" name="F_FullName" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">类型</th>
                <td class="formValue">
                    <select id="F_Type" name="F_Type" class="form-control">
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">状态</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">有效</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">地址</th>
                <td class="formValue">
                    <input type="text" id="F_Address" name="F_Address" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">排序</th>
                <td class="formValue">
                    <input type="number" id="F_SortCode" name="F_SortCode" class="form-control required" />
                </td>
            </tr>
        </table>
    </div>
</form>
<script type="text/javascript">
    var keyValue = $.request("keyValue");
    function init() {
        if (keyValue) {
            $.ajax({
                url: '/WarehouseManage/Warehouse/GetFormJson',
                type: 'post',
                dataType: "json",
                async: false,
                data: {
                    keyValue: keyValue
                },
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            })
        }
    }

    function initControl() {
        $("#F_ParentId").bindSelect({
            url: "/WarehouseManage/Warehouse/GetTreeSelectJson",
        });

        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson"
        });
        $('#F_Type').bindSelect({
            url: "/SystemManage/ItemsData/GetSelectBindJson?itemId=cc2f7c92-c71c-471f-a713-3ac86241f475&keyword="
        });
    }

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/WarehouseManage/Warehouse/SubmitForm?keyValue="+keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

    $(function () {
        initControl();
        if (!!keyValue) {
            init();
        }

    });
</script>