@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="MI-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新 建</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="MI-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修 改</a></li>
                <li><a id="MI-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删 除</a></li>
                <li><a id="MI-check" authorize="yes" onclick="btn_deatil()"><i class="fa fa-pencil-square-o"></i>查 看</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="姓名" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
</div>
<script type="text/javascript">

    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增仓库",
            url: "/WarehouseManage/Warehouse/Form",
            width: "480px",
            height: "400px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_edit() {
        var keyValue = $('#gridList').jqGridRowValue().F_Id;
        if (keyValue) {
            $.modalOpen({
                id: "Form",
                title: "修改仓库",
                url: "/WarehouseManage/Warehouse/Form?keyValue="+keyValue,
                width: "480px",
                height: "400px",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        }
       
    }

    function gridList() {
        var $gridList = $('#gridList');
        $gridList.dataGrid({
            treeGrid: true,
            treeGridModel: "adjacency",
            ExpandColumn: "Name",
            url: "/WarehouseManage/Warehouse/GetGridTreeJson",
            height: $(window).height() - 128,
            colModel: [
                 { label: '主键', name: 'F_Id', hidden: true, key: true },
                 { label: '父级ID', name: 'F_ParentId', hidden: true },
                 { label: '编 号', name: 'F_EnCode', width: 120, align: 'center' },
                 { label: '名 称', name: 'F_FullName', width: 120, align: 'center' },
                 {
                     label: '类 型', name: 'F_Type', width: 60, align: 'center',
                     formatter: function (cellvalue) {
                         var text = "";
                         $.ajax({
                             url: '/SystemManage/ItemsData/GetSelectBindJson?itemId=cc2f7c92-c71c-471f-a713-3ac86241f475&keyword=',
                             async: false,
                             dataType: 'json',
                             cache: true,
                             success: function (data) {
                                 $.each(data, function (i) {
                                     if (data[i].id == cellvalue) {
                                         text = data[i].text;
                                     }
                                 });
                             }
                         });
                         return text;
                     }
                 },
                 { label: '排 序', name: 'F_SortCode', width: 120, align: 'center' },
                 {
                     label: '状 态', name: 'F_EnabledMark', width: 60, align: 'center',
                     formatter: function (cellvalue) {
                         return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                     }
                 },
                 { label: '地 址', name: 'F_Address', width: 130, align: 'center' },
                 { label: '创建时间', name: 'F_CreatorTime', width: 120, align: 'center' },
                 { label: '更新时间', name: 'F_LastModifyTime', width: 120, align: 'left' }
            ]
        });

        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }


    function btn_delete() {
        $.deleteForm({
            url: "/WarehouseManage/Warehouse/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().F_Id },
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

    function btn_deatil() {
        var keyValue = $('#gridList').jqGridRowValue().F_Id;
        if (keyValue) {
            $.modalOpen({
                id: "Form",
                title: "查看仓库",
                url: "/WarehouseManage/Warehouse/Form?keyValue=" + keyValue,
                width: "480px",
                height: "400px",
                callBack: null,
                btn:null
            });
        }
    }


    $(function () {
        gridList();
    });
</script>