@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<style type="text/css">
    .row-body {
        border-bottom: 1px solid #000;
    }

    .selected {
        background-color: wheat !important;
    }
     .locationItem {
        width: 100px;
        height: 70px;
        text-align: center;
        background-color: #00FFFF;
        float: left;
        margin-left: 10px;
        margin-top:5px;
    }
    .using {
        background-color:red;
    }
    .disabled {
        background-color:#BDBDBD;
    }
        .locationItem div {
            width: 90px;
            height: 20px;
            margin-top: 25px;
            margin-left: auto;
            margin-right: auto;
        }
</style>
<div class="topPanel">
    <div class="toolbar">
        <ul class="nav nav-pills" style="position:absolute;left:22px;">
            <li class="first">层数:<span><input type="text" value="" id="F_ShelfLayer" name="F_ShelfLayer" style="height:15px;margin-left:5px;" disabled="disabled" /></span></li>
            <li class="first" style="margin-left:10px;">每层储位个数:<span><input id="F_ShelfNumber" name="F_ShelfNumber" type="text" value="" style="height:15px;margin-left:5px;" disabled="disabled" /></span></li>
            <li class="first" style="margin-left:10px;">空闲中: <span  style="background-color: #00FFFF;margin-left:5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
            <li class="first" style="margin-left:10px;">已占用:<span  style="background-color: red;margin-left:5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
            <li class="first" style="margin-left:10px;">禁 用:<span  style="background-color: #BDBDBD;margin-left:5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
        </ul>
        <div class="btn-group">
            <a id="MI-create" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>创建库位</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="MI-sledit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修 改</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>

</div>
<div class="panel panel-default" id="storageLocationContainner">
    <div class="panel-heading">
        <i class="fa fa-line-chart fa-lg" style="padding-right: 5px;"></i>关键数据实时指标
        <div style="float: right; position: relative; top: 0px; right: 0px;">
            <ul class="nav nav-pills">
                <li>空闲库位:2121</li>
                <li style="margin-left:10px;">使用中:121</li>
                <li style="margin-left:10px;">禁用:12</li>
            </ul>
        </div>
    </div>
    <div class="panel-body row-body">
        <div class="locationItem">
            <div>对私待处理任务</div>
        </div>
        <div class="locationItem">
            <div>对私待处理任务</div>
        </div>
        <div class="locationItem">
            <div>对私待处理任务</div>
        </div>
    </div>
    <div class="panel-body row-body">
        <div class="locationItem">
            <div>对私待处理任务</div>
        </div>
        <div class="locationItem">
            <div>对私待处理任务</div>
        </div>
        <div class="locationItem">
            <div>对私待处理任务</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var keyValue = $.request("keyValue");
    var shelfLayer = $.request("shelfLayer");
    var shelfNumber = $.request("shelfNumber");
    var selectedKeyValue;
    function locationClick() {
       
        $('.locationItem').removeClass("selected");
        $('.operate').css("left", "0px");//-100.1%;
        $(this).addClass("selected");
        selectedKeyValue = $(this).data("id");
    }

    function btn_edit() {
        if (selectedKeyValue) {
            $.modalOpen({
                id: "Form",
                title: "设置库位信息",
                url: "/WarehouseManage/StorageLocation/Form?keyValue=" + selectedKeyValue,
                width: "450px",
                height: "380px",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        }
    }

    function initControl() {
        $('.close').on('click', function () {
            $('.operate').css("left", "-100.1%");//-100.1%;
        });
        if (shelfLayer)
            $('#F_ShelfLayer').val(shelfLayer);
        
        if(shelfNumber)
            $('#F_ShelfNumber').val(shelfNumber);

        if (keyValue) {
            $.fetch({
                url: '/WarehouseManage/StorageLocation/GetListJson?warehouseId=' + keyValue
            }).done(function (data) {
                if (data.length > 0) {
                    for (var index in data) {
                        var rows = "";
                        var unUsing = 0;
                        var using = 0;
                        var disabled = 0;
                        var layer = (index *1)+ 1;
                     
                        var items = data[index];
                        for (var number in items) {
                            var e = items[number];
                            var bgColor = "";
                            if (!e.F_EnabledMark) {
                                bgColor = "disabled";
                                disabled = (disabled*1) + 1;
                            } else {
                                bgColor = e.F_Status == 1 ? "using" : "";
                                if (e.F_Status == 1)
                                    using = (using * 1) + 1;
                                else
                                    unUsing = (unUsing * 1) + 1;
                            }
                            var item = ` <div class="locationItem ${bgColor}" data-id="${e.F_Id}"><div>${e.F_EnCode}</div></div> `;
                            rows += item;
                        }
                        var header = `    <div class="panel-heading">
                                                <i class="fa fa-line-chart fa-lg" style="padding-right: 5px;"></i>第${layer}层
                                                <div style="float: right; position: relative; top: 0px; right: 0px;">
                                                    <ul class="nav nav-pills">
                                                        <li style="margin-left:10px;">空闲库位: <span style="color:blue;font-weight:900;"> ${unUsing}</span></li>
                                                        <li style="margin-left:10px;">使用中:<span style="color:red;font-weight:900;">${using}</span></li>
                                                        <li style="margin-left:10px;">禁用: <span style="color:#BDBDBD;font-weight:900;">${disabled}</span></li>
                                                    </ul>
                                                </div>
                                            </div>`;
                        $('#storageLocationContainner').append(header+ `<div class="panel-body row-body">`+rows+`</div>`);
                    }
                    $('.locationItem').on('click', locationClick);
                }
            });
        }
    }

    function btn_add() {
        $.confirmForm({
            url: '/WarehouseManage/StorageLocation/SubmitBatch?warehouseId=' + keyValue,
            prompt: "注：您确定要创建储位数据吗？",
            success: function () {
                $.currentWindow();
                $.reload();
            }
        })
    }
    

    $(function () {
        $('#storageLocationContainner').empty();
        initControl();
        
    });
</script>